@import "tailwindcss";
@keyframes bounceOpacity {
  0%, 20%, 53%, 80%, 100% {
    transform: translate3d(0, 0, 0);
    opacity: 0.3;
  }
  40%, 43% {
    transform: translate3d(0, -30px, 0);
    opacity: 1;
  }
}

@keyframes pulseOpacity {
  0%, 100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.bounce-opacity {
  animation: bounceOpacity 2s infinite;
}

.pulse-opacity {
  animation: pulseOpacity 2s infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
/* style.css */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
  white-space: nowrap;
}
.skill:hover{
  transform: scale(1.2);
}